* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#darkbtn  {
    width: 30px;
    cursor: pointer;
    user-select: none;
}

#menubtn {
    width: 64px;
    height: 64px;
    position: fixed;
    font-size: 32px;
    left: 280px;
    cursor: pointer;
    user-select: none;
}

iframe {
    margin-top: 4rem;
}

:root{
    --primary-color: #212121;
    --secondary-color: #e6e6e6;
}

body {
    margin-top: auto;
    padding-bottom: 10rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}


.container{
    position: left;
}

li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.main-content{
    width: 1000px;
}

.cool-link::after{
    margin-left: 20px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width .3s;
}

.cool-link:hover::after{
    margin-left: 18px;
    width: 27%;
    transition: width .3s;
}
.cool-link2::after{
    margin-left: 18px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width .3s;
}

.cool-link2:hover::after{
    margin-left: 18px;
    width: 14%;
    transition: width .3s;
}
.cool-link3::after{
    margin-left: 18px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width .3s;
}

.cool-link3:hover::after{
    margin-left: 18px;
    width: 16%;
    transition: width .3s;
}
.cool-link4::after{
    margin-left: 18px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:var(--secondary-color);
    transition: width .3s;
}

.cool-link4:hover::after{
    margin-left: 18px;
    width: 15%;
    transition: width .3s;
}

::-webkit-scrollbar {
    width: 1em;
    
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: .5em;
    color: var(--primary-color);

}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 100vw;
    border: 0.1em solid var(--secondary-color);

}

::-webkit-scrollbar-thumb:hover{
    background: white;
}

.img-mous {
    margin: 0;
    padding: 0;
   margin-top: 25px;
    width: 100px;
    position: left;
    mix-blend-mode: darken;
}
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');


    h1 {

        margin-top: 0;
        padding: 2rem;
    }

    h2 {
        letter-spacing: 3px;
    }

    p {
        font-family: 'Lato', sans-serif;
    }

    a {
        text-decoration: none;
    }

    .horizontal {
        margin: auto;
    }


    .btn {
        margin: 1em;
        padding: 1rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        letter-spacing: 4px;
        font-size: larger;
    }
    

    a {
        color: rgb(187, 187, 187);
        text-decoration: none;
        margin-left: 20px;

    }

    .wrapper .sidenav {
        position: fixed;
        left: 0;
        top: 0;
        width: 265px;
        height: 100vh;
        background: var(--primary-color);
        border-right: 0.1em solid var(--secondary-color);
        border-top: 10em;
    }



    .wrapper .sidenav h1 {
        color: var(--secondary-color);
        text-align: center;
        line-height: 90px;
        border-bottom: 1px solid var(--secondary-color);
        margin-bottom: 50px;
    }

    .wrapper .sidenav ul li {
        list-style: none;
        padding: 15px;
        
        border-top: 1px solid var(--secondary-color);

    }


    .wrapper .main-content {
        width: 80vw;
        margin-left: 20vw;
    }

    section {
        height: 100vh;
        padding: 30px;
        background-color: var(--primary-color);
        font-size: 100px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h3 {
        font-size: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;


    }
